:root {
    --nav-height: 100px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

nav {
    height: var(--nav-height);
    background-color: red;
    position: sticky;
    top: 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

nav > img {
    height: calc(var(--nav-height) - 30px);
}

main {
    height: calc(100vh - var(--nav-height));
    background-color: yellow;
}

footer {
    height: 100px;
    background-color: blue;
}