:root {
    /*Layout*/
    --nav-height: 100px;

    /*Color palette*/
    --onyx: #0C1713;
    --ink-black: #001A23;
    --grey: #7E7F83;
    --brick-ember: #BF0603;
    --platinum: #F3F3F4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 8vw;
    background-color: var(--platinum);
}

h1 {
    margin: 0;
}

nav {
    height: var(--nav-height);
    border-bottom: 1px solid var(--grey);
    position: sticky;
    top: 0;
    background-color: var(--platinum);
    z-index: 99;
    display: flex;
    align-items: center;
}

nav > a > img {
    height: 80px;
    width: auto;
}

main {

}

footer {
    height: 200px;
}

div {
    height: 80vh;
    border-bottom: 1px solid var(--grey);
}