:root {
    /*Layout*/
    --nav-height: 100px;

    /*Color palette*/
    --onyx: #0C1713;
    --ink-black: #001A23;
    --grey: #7E7F83;
    --brick-ember: #BF0603;
    --platinum: #F3F3F4;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0 8vw;
    background-color: var(--platinum);
    font-family: "Cardo", serif;
    font-size: 1.8rem;
}

img {
    height: 60vh;
    width: auto;
}

a {
    color: var(--ink-black);
    text-decoration: none;
}

a:hover {
    color: var(--brick-ember);
}

a:active {
    color: black;
}

nav {
    height: var(--nav-height);
    border-bottom: 1px solid var(--grey);
    position: sticky;
    top: 0;
    background-color: var(--platinum);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
}

nav > a > img {
    height: 80px;
    width: auto;
}

main {
 /*Placeholder*/
}

footer {
    height: 200px;
    padding: 0 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-links {
    display: flex;
    gap: 30px;
}

.primary-container {
    height: 80vh;
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-margin-top: var(--nav-height);
}

.sub-container-alpha {
    padding: 0 4vw;
}