:root {
    --nav-height: 100px;
}

body {
    margin: 0 auto;
}

nav {
    height: var(--nav-height);
    background-color: red;
    position: sticky;
    top: 0;
}

main {
    height: calc(100vh - var(--nav-height));
    background-color: yellow;
}

footer {
    height: 100px;
    background-color: blue;
}