{% load static %}

<div id="about" class="primary-container">
    <div class="sub-container-alpha">        
        <h1>High Plains HEMA Collective</h1>

        <p>We are a collective of self- driven individuals with peer-lead classes focusing on the enjoyment of learning various Historical European sword arts in an inclusive, safe, and fun environment.</p>

        <p>Our main focus for weapon systems is Joachim Meyers longsword, a 16th century German Cutler, freifechter, freighter, fencing master, but we also train Meyers polearms, Iberian zwiehanders, dussack, and Lichtenhauer longsword.</p>

        <p>Our classes are small and personal, with practices taking place on Wednesdays and Saturdays.</p>
    </div>
    <div>
        <img class="sub-container-alpha" src="{% static 'high_plains_hema/images/2.jpg' %}">
    </div>
</div>