{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>High Plains HEMA | HEMA Alliance | Cheyenne, Wyoming</title>
        <link rel="stylesheet" href="{% static 'high_plains_hema/css/style.css' %}">
    </head>
    <body>
        <nav>
            {% include 'high_plains_hema/nav.html' %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include 'high_plains_hema/footer.html' %}
        </footer>
    </body>
</html>